/*-- Main --*/
/*-- Login --*/
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
/*-- Join --*/
#id_ok{
    color: #fff;
    font-size: 11px;
}
#id_already{
    color: #9a1e1e;
    display: none;
    font-size: 11px;
}
/*-- Board --*/
/*-- EditUser --*/

