/*-- Main --*/
.list{
    width: 1200px;
    margin: 0 auto;
}
/*-- Login --*/
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.col_1{
    width: 100px;
}
.col_2{
    width: 100px;

}
/*-- Join --*/
table tr td{
    font-size: 16px;
}
table tr td input{
    margin: 6px;
}
#email_ok{
    color: #fff;
    font-size: 11px;
    margin-left: 5px;
}
#email_already{
    color: #9a1e1e;
    display: none;
    font-size: 11px;
    margin-left: 5px;
}
.inputT{
    width: 250px;
    height: 40px;
}
/*-- User List --*/
.list ul{
    width: 1200px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.list ul li button{
    margin-top: 10px;
}
.list h1{
    margin: 0 auto;
}
.listT{
    width: 850px;
    margin: 0 auto;
    border-top: 1px solid #888;
    border-collapse: collapse;
}
.listT tr td{
    border-bottom: 1px solid #e1e1e1;
    padding: 8px;
}
#paging{
    width: 480px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 15%;

}
#paging a{
    text-decoration: none;
    padding: 3px;
    color: #2c2c2c;
}
